@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

body {
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.results {
    margin-top: 20px;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}