@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'GmarketSansMedium';
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    font-family: 'GmarketSansMedium';
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.form-container h1 {
    text-align: center;
    font-family: 'GmarketSansMedium';
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-family: 'GmarketSansMedium';
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.form-group input, .form-group textarea, .form-group select {
    font-family: 'GmarketSansMedium';
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-group textarea {
    font-family: 'GmarketSansMedium';
    resize: none;
    height: 100px;
}

.form-group button {
    font-family: 'GmarketSansMedium';
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #0056b3;
}