@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'GangwonEduPowerExtraBoldA';
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s;
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}
h1 {
    color: #4cae4f;
}
.dark-mode {
    background-color: #333;
    color: white;
}
.dark-mode h1 {
    color: #4cae4f;
}
.toggle-button {
    font-family: 'GangwonEduPowerExtraBoldA';
    background-color: #4cae4f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.toggle-button:hover {
    background-color: #45a045;
}

.images{
    float:left;
    padding-bottom: 40px;
    width: 100px;
    height: 100px;
}