@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'GangwonEduPowerExtraBoldA';
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    text-align: center;
}
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}
h1 {
    color: #4cae4f;
    margin-bottom: 10px;
}
p {
    color: #777;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: #4cae4f;
    font-size: 18px;
}
.social-icons {
    margin-top: 20px;
}
.social-icons a {
    margin: 0 10px;
    color: #4cae4f;
    font-size: 24px;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #45a045;
}